img {
    height: 150px
}

.prestations h2
{
    background: #007bff5c;
    padding: 10px;
    margin: 0px 10px;
}

.prestations div p
{
    background: #09407b3b;
    padding: 15px;
    margin: 0px 20px;
}

.showroom h2
{
    background: #007bff5c;
    padding: 10px;
    margin: 0px 10px;
    margin-bottom: 15px;
}

.showroom div p
{
    background: #09407b3b;
    padding: 15px;
    margin: 0px 20px;
}

.contact h2
{
    background: #007bff5c;
    padding: 10px;
    margin: 0px 10px;
    margin-bottom: 15px;
}

.contact div p
{
    background: #09407b3b;
    padding: 15px;
    margin: 0px 20px;
}

.map
{
    margin-top: -80px;
}

.travaux
{
    margin-left: 0px !important;
    margin-bottom: 50px;
}

.travaux h3
{
    text-align: center !important;
}

.imgRea
{
    width: 50% !important;
}

.travaux article
{
    height: 300px !important;
    max-height: 300px !important;
}

.article
{
    margin-bottom: 30px;
}